// overriding existing boostrap scss variables
$primary: #fffdf4;
$secondary: #d26b05;

$dark: rgba(1, 14, 45, 0.9);
$light: #d2e7df;

$body-bg: $light;

$body-color: $dark;

$spacer: 0.5rem;
$spacers: (
  0: $spacer * 0.25,
  1: $spacer * 0.5,
  2: $spacer * 1.5,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5.2,
  6: $spacer * 8,
  7: $spacer * 10,
  8: $spacer * 15
) !default;

// custom scss variables (doesn't exist in bootstrap)
$list-color: #cdf4cd;
$punchline-shows-color: #f4efdc;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/bootstrap';
